Haris ali
BSSE-B15-065
**LAb 2**
**Activity 1**

In [ ]:
print("Hello world")
print(24)
print(4.2)
print(234)
print(49.90)

Hello world
24
4.2
234
49.9

**Activity 2**
Display String on Screen

In [ ]:
print('Hello')
print('Quote me on screen !')
print("what's your name?")
print("'you can use triple quote for multilines string'")

Hello
Quote me on screen !
what's your name?
'you can use triple quote for multilines string'

**Activity 3**
Use Python as a Calculator

In [ ]:
print(2+2)
print(50-4)
print(23.5-2.0)
print(23-18.5)
print(5*4)
print(2.5*10)
print(2.5*2.5)
print(28/4)
print(26/4)
print(23.4/3.1)

4
46
21.5
4.5
20
25.0
6.25
7.0
6.5
7.548387096774193

**Activity 4**
Get integer Answer from Division operation

In [ ]:
print(28//4)
print(26//4)
print(type(int(26/4)))
print(type(int(28/4)))
print(type(int(26%4)))
print(type(int(28/4)))
print(28%4)
print(26%4)

7
6
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
0
2

**Activity 5**
Calculate power

In [ ]:
print(4**3)
print(4**10)
print(4**29)
print(4**150)
print(4**1000)

64
1048576
288230376151711744
2037035976334486086268445688409378161051468393665936250636140449354381299763336706183397376
114813069527425452423283320117768198402231770208869520047764273682576626139237031385665948631650626991844596463898746277344711896086305533142593135616665318539129989145312280000688779148240044871428926990063486244781615463646388363947317026040466353970904996558162398808944629605623311649536164221970332681344168908984458505602379484807914058900934776500429002716706625830522008132236281291761267883317206598995396418127021779858404042159853183251540889433902091920554957783589672039160081957216630582755380425583726015528348786419432054508915275783882625175435528800822842770817965453762184851149029376

**Activity 6**
Write Math Expression and Calculate the Answer

In [ ]:
print(2+3*6)
print((2+3)*6)
print(48565878 * 578453)
print(2+ 2)
#print((5 – 1) * ((7 + 1) / (3 – 1)))
print(5 +7)
print(42 + 5 ** 2)

20
30
28093077826734
4
12
67

**Activity 7**
Calculate Number and text

In [ ]:
x="nancy"
print(x)
s="My lucky number is %d,what is yours?"%7
print(s)
s="My lucky number is"+str(7) +",what is yours?"
print(s)

nancy
My lucky number is 7,what is yours?
My lucky number is7,what is yours?

**Activity 8**
Take input from the keyboard and use it in your program.

In [ ]:
name=input('what is your name?')
print("My name is  " +name)
job=input('what is your job?')
print('My job is  ' +job)
num=input('what is your lucky number?')
print('My lucky num is  ' +num)

what is your name?harisali
My name is  harisali
what is your job?student
My job is  student
what is your lucky number?69
My lucky num is  69

**Activity 9**
Let us take an integer from user as input and check whether the given value is even or not.

In [ ]:
n=input("Enter any Number")
if int(n)%2==0:
  print("The Number is Even")

Enter any Number4
The Number is Even

**Activity 10** take an integer from user as input and check whether the given value is even or odd

In [ ]:
n=input("Enter any number")
if int(n)%2==0:
  print("The Given Number is Even")
else:
 print("The Number is Odd")

Enter any number76
The Given Number is Even

**Activity 11** Calculate the sum of all the values between 0-10 using while loop

In [ ]:
sum=0
i=1
while i<=10:
 sum=sum+i
 i=i+1
print("Sum is",sum)

Sum is 55

**Activity 12** Accept 5 integer values from user and display their sum. Draw flowchart before coding in python.

In [ ]:
sum=0
i=0
while i<=4:
 s=input("Enter 5 input")
 n=int(s)
 sum=sum+n
 i=i+1
print("Sum of 5 number is",sum)

Enter 5 input5
Enter 5 input5
Enter 5 input5
Enter 5 input5
Enter 5 input5
Sum of 5 number is 25

**Activity 14** Write a Python code to accept an integer value from user and check that whether the given value is prime number or not

In [ ]:
num = int(input("Enter an integer: "))
if num > 1:
 for i in range(2, num):
  if num % i == 0:
   print(num, "is not a prime number")
   break
  else:
   print(num, "is a prime number")
else:
 print(num, "is not a prime number")

Enter an integer: 14
14 is not a prime number

**Activity 15:** Write a Python code to accept marks of a student from 1-100 and display the grade according to the following formula.

In [ ]:
marks = int(input("Enter marks (out of 100): "))
if marks > 100 or marks < 0:
 print("Invalid input! Please enter marks between 0 and 100.")
elif marks >= 90:
 print("Grade: A+")
elif marks >= 80:
 print("Grade: A")
elif marks >= 70:
 print("Grade: B+")
elif marks >= 60:
 print("Grade: B")
elif marks >= 50:
 print("Grade: C+")
elif marks >= 40:
 print("Grade: C")
else:
 print("Grade: F")

Enter marks (out of 100): 76
Grade: B+

**Activity 16:** Write a program that takes a number from user and calculate the factorial of that number

In [ ]:
num = int(input("Enter a positive integer: "))
if num == 0 or num == 1:
 factorial = 1
else:
 factorial = 1
 # multiply all the integers from 1 to num
 for i in range(2, num+1):
  factorial *= i
print("Factorial of", num, "is", factorial)

Enter a positive integer: 4
Factorial of 4 is 24